<h1>MALEFICENT HOME PAGE</h1>

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Unity</h1>
		<p class="lead">Find friends with Unity, schedule time to play together</p>
	</div>
</div>

<div class="container">
	<div class="row d-flex justify-content-around">
		<div class="col-7 m-3">
			<div class="row border border-primary">
				<div class="col-12">
					UPCOMING GAMES
				</div>
			</div>

			<div class="row border border-primary my-4">
				<div class="col-12">
					MOST PLAYED GAME
				</div>
			</div>

		</div>

		<div class="col-4 m-3 border border-primary">


							<% @friends.each do |friend| %>
							<a class="btn btn-outline-light btn-block justify-content-center my-3" href="<%= user_path(friend) %>">
								<% if friend.online_status == 'true' %>
									<div class="online"></div>
								<% end %>
									<p class="d-inline-block align-middle my-0 p-2" style="color: black"><img src="https://alternative.me/icons/meetme.png" width= "30px" alt="">
									<%= friend.username %></p>

							<% end %></a>

			<a class="btn btn-outline-dark btn-block my-3" href="<%= users_path %>">Add new Friends</a>
		</div>
	</div>
</div>