<h1>Welcome to Unity!</h1>

<div class="d-flex flex-wrap my-4 ">
	<div class="myCard">

		<div class="face face1">
			<div class="myContent">
				<p>hello</p>
			</div>
		</div>
		<div class="face face2">
			<h2>01</h2>
		</div>
	</div>

	<div class="myCard">
		<div class="face face1">
			<div class="myContent">
				<p>hello</p>
			</div>
		</div>
		<div class="face face2">
			<h2>01</h2>
		</div>
	</div>

	<div class="myCard">
		<div class="face face1">
			<div class="myContent">
				<p>hello</p>
			</div>
		</div>
		<div class="face face2">
			<h2>01</h2>
		</div>
	</div>

	<div class="myCard">
		<div class="face face1">
			<div class="myContent">
				<p>hello</p>
			</div>
		</div>
		<div class="face face2">
			<h2>01</h2>
		</div>
	</div>

	<div class="myCard">
		<div class="face face1">
			<div class="myContent">
				<p>hello</p>
			</div>
		</div>
		<div class="face face2">
			<h2>01</h2>
		</div>
	</div>

</div>









<a id="loginBubble" class="d-inline-block my-4 mx-auto" href="/users/sign_up">
	<div class="bubbles" >

			<span></span>
			<span></span>
			<span></span>
			<div class="bubblesContent">

				<h2>Sign up</h2>
			</div>

	</div>
</a>