<h1 class="display-4">Your free times</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Times</th>
			<th scope="col">Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @freetimes.each do |d| %>
		<tr>

			<td><%= d.time.in_time_zone("Singapore").strftime("%I %p") %></td>
			<td><%= link_to 'Delete', edit_freetime_path(d) %></td>
		</tr>
		<% end %>
	</tbody>
</table>






<%= link_to 'Add free time', new_freetime_path ,({:class => "btn btn-lg btn-light m-3"})%>