// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeJumbo {
	position: relative;
	background: linear-gradient(to right, #EC0011 0%, #4D0009 50%, #EC0011 100%);
	background-size: 400%;
	border-radius: 3px;
	animation: buttonpulse 20s linear infinite;
	overflow: hidden;
}

.pulsation span {
	position: absolute;
	display: block;
}

.pulsation span:nth-child(1) {
	top: 0;
	left: -30%;
	width: 30%;
	height: 4px;
	background: linear-gradient(90deg, transparent, white);
}

.pulsation:hover span:nth-child(1) {
	animation: kfleft 2s linear infinite;
	transition: 1s;
	animation-delay: 0.8s;
}

.pulsation span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 4px;
	height: 30%;
	background: linear-gradient(180deg, transparent, white);
}

.pulsation:hover span:nth-child(2) {
	animation: kftop 2s linear infinite;
	transition: 1s;
}

.pulsation span:nth-child(3) {
	bottom: 0;
	right: -30%;
	width: 30%;
	height: 4px;
	background: linear-gradient(270deg, transparent, white);
}

.pulsation:hover span:nth-child(3) {
	animation: kfright 2s linear infinite;
	transition: 1s;
	animation-delay: 0.8s;
}

.pulsation span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 4px;
	height: 30%;
	background: linear-gradient(360deg, transparent, white);
}

.pulsation:hover span:nth-child(4) {
	animation: kfbottom 2s linear infinite;
	transition: 1s;
}

@keyframes kfleft {
	40% {
		left: 100%;
	}

	100% {
		left: 100%;
	}
}

@keyframes kftop {
	40% {
		top: 100%;
	}

	100% {
		top: 100%;
	}
}

@keyframes kfright {
	40% {
		right: 100%;
	}

	100% {
		right: 100%;
	}
}

@keyframes kfbottom {
	40% {
		bottom: 100%;
	}

	100% {
		bottom: 100%;
	}
}


.mybtn {
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03A9F4, #F441A5, #FFEB3B, #03A9F4);
	background-size: 400%;
	border-radius: 5px;
	line-height: 50px;
	z-index: 2;
}

a {
	text-decoration: none;
	z-index: 2;
}

.mybtn:hover {
	animation: buttonpulse 10s linear infinite;
	text-decoration: none;
}

.mybtn:before {
	content: "";
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	background: linear-gradient(90deg, #03A9F4, #F441A5, #FFEB3B, #03A9F4);
	background-size: 400%;
	border-radius: 1px;
	z-index: 1;
	opacity: 0;
	transition: 0.7s;
}

.mybtn:hover:before {
	animation: buttonpulse 10s linear infinite;
	filter: blur(30px);
	opacity: 0.6;
}

@keyframes buttonpulse {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}


body {
	background-image: asset-url('red-bg.jpg');
	color: white;
	font-family: 'Nunito', sans-serif;
}

a {
	color: white;
	// color: black;
}

a:hover {
	color: white;
}


.fun-hover ul li a {
	border-top: 1px solid rgba(0, 0, 0, 0);
	margin: 4px;
}

.fun-hover ul li a:after {
	color: #f0a;
	/* code for &raquo; */
	display: block;
	float: right;
	opacity: 0;
	overflow: hidden;
	width: 0;
}

.fun-hover ul li a:hover {
	background: rgb(179, 37, 58);
	color: white;
	border-radius: 3px;
	border-top: 1px solid rgba(255, 255, 255, .1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	padding-left: 20px;
	padding-right: 20px;
}

.fun-hover ul li a:hover:after {
	opacity: 1;
	width: 20px;
}

.navbar-brand {
	font-family: 'ZCOOL KuaiLe', cursive;
	color: rgb(179, 37, 58);
	font-size: 2rem;
}

.navbar-brand:hover {
	color: red;
}

.nav-link:hover {
	color: rgb(179, 37, 58);
}

.card {
	background-color: black;
	border: 2px solid black;
}

.icons-lg {
	font-size: 1.5rem;
}

span.icons-lg:hover {
	color: white;
	text-decoration: none;
}

p.home-title {
	font-size: 1.7rem;
	font-family: 'ZCOOL KuaiLe', cursive;

}