// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
	.day {
		background: black;
	}

	.wday-0 {}

	.wday-1 {}

	.wday-2 {}

	.wday-3 {}

	.wday-4 {}

	.wday-5 {}

	.wday-6 {}

	.today {
		background: rgb(179, 37, 58);
	}

	.past {}

	.future {}

	.start-date {}

	.prev-month {
		background: #303030;
	}

	.next-month {
		background: #303030;
	}

	.current-month {}

	.has-events {}

	a {
		color: white;
	}
}