// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
	.day {
		background: black;
	}

	.wday-0 {}

	.wday-1 {}

	.wday-2 {}

	.wday-3 {}

	.wday-4 {}

	.wday-5 {}

	.wday-6 {}

	.has-events {
		background: rgb(157, 27, 47);

	}

	.today {
		background: rgb(203, 33, 59);
	}

	.today:hover {
		background: red;
	}

	.past {}

	.future {}

	.start-date {}

	.prev-month {
		background: #303030;
	}

	.next-month {
		background: #303030;
	}

	.current-month {}


	a {
		color: white;
	}

	a:hover {
		text-decoration: underline;
	}

	.calendar-title {
		font-size: 1.2rem;
	}
}