.online{
	border: 1px solid #22FF08;
	background-color: #22FF08;
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.away{
	border: 1px solid #F69708;
	background-color: #F69708;
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: inline-block;
}